@import "tailwindcss";

/* index.css or App.css */

/* index.css or App.css */



/* src/index.css */

body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: #0f172a; /* Tailwind gray-900 */
  color: white;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}
